@charset "UTF-8";
@import "./_utils.scss";

.audio__title {
    font-size: 22px;
    font-weight: bold;
    color: $color-black;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.audio__info {
    font-size: 18px;
    color: $color-gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.audio__controlbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.audio__btn {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0px 15px;
    background: {
        repeat: no-repeat;
        position: center;
        size: contain;
    }

    &.play-btn {
        width: 35px;
        height: 35px;
        border: {
            width: 1px;
            color: $color-black;
            style: solid;
            radius: 100%;
        }
        background-image: url('../public/img/play.svg');
        background-size: 60%;

        &.icon-pause {
            background-image: url('../public/img/pause.svg');
        }
    }

    &.prev-btn {
        background-image: url('../public/img/previous.svg');
    }

    &.next-btn {
        background-image: url('../public/img/next.svg');
    }
}

.audio__progressbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        display: block;
        font-size: 16px;
        padding: 0px 10px;
    }
}

// 時間軸進度條
.progress {
    width: 100%;
    height: 7px;
    background-color: $color-gray-3;
    position: relative;
    overflow: hidden;
}

.progress-value {
    height: 100%;
    background-color: $color-mint;
    // transition: width 1s linear;
    position: absolute;
    top: 0%;
    left: 0%;
}

// 聲音控制
.volume {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &::before {
        content: '';
        width: 25px;
        height: 25px;
        display: block;
        margin-right: 10px;
        background: {
            image: url('../public/img/volume.svg');
            repeat: no-repeat;
            position: center;
            size: contain;
        }
    }
}

.volume-range {
    -webkit-appearance: none;
    width: 150px;
    height: 7px;
    border-radius: 5px;
    background: $color-gray-3;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;

    &::-webkit-slider-thumb {
        appearance: none;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: $color-gray;
    }
}