@charset "UTF-8";
@import "./_utils.scss";

.musiclist-list {
    width: 100%;
    height: calc(100% - 40px);
    overflow-x: hidden;
    overflow-y: auto;
}

.musiclist-item {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        font-size: 18px;
        color: $color-gray;
    }

    &.current, &:hover{
        span {
            color: $color-mint;
        }
    }
}

.ms__info {
    width: calc(100% - 70px);
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.ms__heading {
    width: calc(100% - 60px);
    display: flex;
    align-items: center;
}

.ms__image {
    width: 60px;
    height: 60px;
    flex-basis: 60px;
    position: relative;
    overflow: hidden;

    > img {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0%;
        left: 0%;
        object-fit: cover;
    }
}

.ms__index {
    margin-left: 10px;
    margin-right: 10px;
}

.ms__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ms__duration {
    width: 70px;
    padding-right: 10px;
    text-align: right;
}
